<div class="container">
    <h1>admin zona</h1>
    {{#if aviso}}<h5>{{{aviso}}}</h5>{{/if}}
</div>

<div class="container">
    {{!-- add producto --}}
    <form action="/admin_zona/anadir_producto" method="POST" class="was-validated">

        {{!-- nombre del producto --}}
        <div class="col-xl-6 col-sm-12 d-flex">
            <label for="nombre" class="col-4 col-form-label">Nombre</label>
            <div class="col-8">
                <input class="form-control" type="text" name="nombre" id="nombe-producto" required pattern="(a-zA-Z 0-9 ÑñóÓíÍ){3-20}">
                <div class="invalid-feedback">
                    (a-zA-Z 0-9 ÑñóÓíÍ){3-20}
                </div>
            </div>
        </div>

        {{!-- precio --}}
        <div class="col-xl-6 col-sm-12 d-flex">
            <label for="precio" class="col-4">Precio</label>
            <div class="col-8">
                <input class="form-control" type="text" name="precio" id="precio" required pattern="\d+(,\d{2})?(.\d{2})?">
                <div class="invalid-feedback">
                    \d+(,\d{2})?
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-sm-12 d-flex">
            <label for="ruta-img" class="col-4">Ruta img</label>
            <input type="text" name="ruta_img" id="ruta-img" class="form-control" required>
            <div class="invalid-feedback">
                ruta
            </div>
        </div>

        {{!-- submit --}}
        <button type="submit" class="mx-auto btn btn-success">Añadir</button>
    </form>

</div>