<div class="container">
    <h1>axios</h1>
    <div class="col-xl-6 col-sm-11 mx-auto text-center border border-dark p-1 m-3">
        <h3>GET</h3>
        <div class="col-12 bg-warning" id="caja_results_get">
            Haz el butom para obtener el result
        </div>
        <button class="btn btn-success m-2 col-4" id="get_datos">get datos</button>
    </div>

    <div class="col-xl-6 col-sm-11 mx-auto text-center border border-dark p-1 m-3">
        <h3>Post</h3>

        <div class="col-12 bg-warning" id="caja_results_post">
            <span id="primero">6</span><span id="signo">+</span><span id="segundo">4</span>
            espero ver la suma calculada en el servisor
        </div>

        <button class="btn btn-success m-2 col-4" id="post_datos">post datos</button>
    </div>
</div>