.btn-mas-menos{
    display: inline-block;
    text-align:center;
    width: 2rem;
    height: 2rem;
}
/* simvol del botoms */
.btn-mas-menos>span{
    translate:0 -7%;
    z-index: -1;
}
/* para el botom menos-cantidad del cesta (descativado) */
.cantidadZero{
    opacity: .5;
    z-index: -1;
}